{% block header %}
  <h1>{% block title %}WorkExperience{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('resume.create_workexp') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for exp in experiences %}
    <article class="experience">
      <header>
        <div>
          <h1>{{ exp['title'] }}</h1>
          <div class="about">at {{ exp['who'] }} from {{ exp['whenexp'] }}</div>
        </div>
          <p class="body">{{ exp['what'] }}</p>
        {% if g.user['id'] %}
          <a class="action" href="{{ url_for('resume.update_workexp', id=exp['id']) }}">Edit</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <br>
    {% endif %}
  {% endfor %}
{% endblock %}