{% extends 'base.html' %}

{% block sections %}

{% block header %}
  <h1>{% block title %}Edit "{{ experience['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <br>
    <input name="title" id="title" value="{{ request.form['title'] or experience['title'] }}" required>
    <br>
    <label for="who">Company</label>
    <br>
    <textarea name="who" id="who">{{ request.form['who'] or experience['who'] }}</textarea>
    <br>
    <label for="whenexp">From When to When (Format as "April 2018 - May 2019")</label>
    <br>
    <textarea name="whenexp" id="whenexp">{{ request.form['what'] or experience['what'] }}</textarea>
    <br>
    <label for="what">Description of the job and responsibilities</label>
    <br>
    <textarea name="what" id="what">{{ request.form['whenexp'] or experience['whenexp'] }}</textarea>
    <br>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('resume.delete_workexp', id=experience['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}

{% endblock %}