{% extends 'base.html' %}

{% block sections %}

{% block header %}
  <h1>{% block title %}Edit "{{ honor['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <br>
    <input name="title" id="title" value="{{ request.form['title'] or honor['title']}}" required>
    <br>
    <label for="givenby">Who was this award given by, or what was it associated with? (optional)</label>
    <br>
    <textarea name="givenby" id="givenby">{{ request.form['givenby'] or honor['givenby']}}</textarea>
    <br>
    <label for="description">Description (optional)</label>
    <br>
    <textarea name="description" id="description">{{ request.form['description'] or honor['description']}}</textarea>

    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('resume.delete_honor', id=honor['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}

{% endblock %}

