{% block header %}
  <h1>{% block title %}Skills{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('resume.create_skill') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for skill in skills%}
    <article class="experience">
      <header>
        <div>
          <h1>{{ skill['title'] }}</h1>
        </div>
          <p class="body">{{ skill['description'] }}</p>
        {% if g.user['id'] %}
          <a class="action" href="{{ url_for('resume.update_skill', id=skill['id']) }}">Edit</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <br>
    {% endif %}
  {% endfor %}
{% endblock %}