{% block header %}
  <h1>{% block title %}Skills{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('resume.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for skill in skills%}
    <article class="experience">
      <header>
        <div>
          <h1>{{ exp['title'] }}</h1>
        </div>
          <p class="body">{{ exp['description'] }}</p>
        {% if g.user['id'] %}
          <a class="action" href="{{ url_for('resume.update', id=exp['id']) }}">Edit</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}